html {
    height: 100%;
}

body {
    background: #F07551;
    color: #FFF;
    text-align: center;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 23px;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

a {
    color: #2B3774;
    text-decoration: none;
}

.logo {
    width: 425px;
}

.social span img {
    width: 30px;
    position: relative;
    display: inline;
    margin: 0 5px -8px 25px;
}